body {
	margin: 0;
	color: white;
}

#slider {
	position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#content {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;

	transition: all 1s;
}

#div1 {
	background-color: #DEA5A4;
}

#div2 {
	background-color: #AEC6CF;
}

#div3 {
	background-color: #B39EB5;
}

.slide {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#s1:target #content {
	top: 0px;
}

#s2:target #content {
	top: -100%;
}

#s3:target #content {
	top: -200%;
}
